<!--<div *ngIf="condition">contendio a renderizar cuando la condicion es true</div>-->
<h3>Listado de Heroes</h3>

<!--Si click, deletedHero se cumple, va a renderizar y mostrar cual heroe se borro-->
<!--Sino o else creo referencia nothingWasDeleted y en ng-template la llamo-->
<div *ngIf="deletedHero; else nothingWasDeleted">
  <h3>Heroe borrado <small class="text-danger">{{deletedHero}}</small></h3>
</div>

<ng-template #nothingWasDeleted>

  <h3>No ha borrado nada</h3>
</ng-template>



<button class="btn btn-outline-danger" (click)="removeLastHero()">
  Borrar ultimo heroe
</button>

<ul class="mt-2 list-group">
<li *ngFor="let name of heroName"  class="list-group-item">{{name}}</li>
</ul>

